.cardbody{
    border: 2px solid chocolate;
    padding: 1%;
    margin: 1%;
    font-size: 20px;
    width:auto ;
    background-color: gold;
}
s{
    color: darkblue;
}
p{
    color: darkcyan;
}
u,h2{
    color: darkred;
}
button{
     color:yellow;
     padding: 1%;
     margin: 1%;
     background-color: green;
}
img{
    height:20%;
}
.card{
    display: flex;
    flex-direction: row;
}
.cardbody img{
    width:100%;
    height: 40%;
}
@media only screen and (min-width:320px) and (max-width:480px){
    .cardbody{
        border: 2px solid chocolate;
        padding: 1%;
        margin: 1%;
        font-size: 20px;
        width:auto ;
    }
    s{
        color: darkblue;
    }
    p{
        color: darkcyan;
    }
    u,h2{
        color: darkred;
    }
    button{
         color: dimgray;
         padding: 1%;
         margin: 1%;
    }
    img{
        height:20%;
    }
    .card{
        display: flex;
        flex-direction: row;
    }
    .cardbody img{
        width:100%;
        height: 40%;
    }
}